*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  @media screen and (max-width: 992px) {
    max-width: 720px;
  }
  @media screen and (max-width: 767px) {
    max-width: 372px;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}

