.py-80 {
    padding: 80px 0;
  }
  
  .px-12 {
    padding: 0 12px;
  }
  
  .py-16 {
    padding: 16px 0;
  }
  
  .py-24 {
    padding: 24px 0;
  }
  
  .py-32 {
    padding: 32px 0;
  }
  
  .pt-32 {
    padding-top: 32px;
  }
  
  .pt-60 {
    padding-top: 60px;
  }
  
  .mx--12 {
    margin: 0 -12px;
  }
  
  .mx-auto {
    margin-right: auto;
    margin-left: auto;
  }
  
  .mt-24 {
    margin-top: 24px;
  }
  
  .mt-32 {
    margin-top: 32px;
  }
  .mt-48 {
    margin-top: 48px;
  }
  
  .mt-96 {
    margin-top: 96px;
  }
  
  .mb-4 {
    margin-bottom: 8px;
  }
  
  .mb-8 {
    margin-bottom: 8px;
  }
  .mb-16 {
    margin-bottom: 16px;
  }
  
  .mb-24 {
    margin-bottom: 24px;
  }
  .mb-32 {
    margin-bottom: 32px;
  }
  
  .mb-40 {
    margin-bottom: 40px;
  }
  
  .mb-48 {
    margin-bottom: 48px;
  }
  
  .mb-60 {
    margin-bottom: 60px;
  }
  
  .mb-72 {
    margin-bottom: 72px;
  }
  
  .mb-80 {
    margin-bottom: 80px;
  }
  
  .mb-124 {
    margin-bottom: 124px;
  }
  
  .ml-12 {
    margin-left: 12px;
  }
  
  .ml-16 {
    margin-left: 16px;
  }
  
  .mr-12 {
    margin-right: 12px;
  }
  
  .mr-15 {
    margin-right: 15px;
  }
  
  .mr-16 {
    margin-right: 16px;
  }
  
  .mr-24 {
    margin-right: 24px;
  }
  
  .mr-32 {
    margin-right: 32px;
  }
  .mr-48 {
    margin-right: 48px;
  }
  
  .ta-c {
    text-align: center;
  }
  .fs-14 {
    font-size: 14px;
  }
  .fs-18 {
    font-size: 18px;
  }
  .fs-19 {
    font-size: 19px;
  }
  
  .fs-20 {
    font-size: 20px;
  }
  .fs-24 {
    font-size: 24px;
  }
  
  .fs-32 {
    font-size: 32px;
  }
  .fs-36 {
    font-size: 36px;
  }
  .fs-42 {
    font-size: 42px;
  }
  .fs-48 {
    font-size: 48px;
  }
  .fs-64 {
    font-size: 64px;
  }
  
  .fw-bold {
    font-weight: 900;
  }
  
  .text-roboto {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: $primary;
    font-weight: 900;
  }
  
  .d-flex {
    display: flex;
  }
  
  .d-block {
    display: block;
  }
  
  .d-inline-block {
    display: inline-block;
  }
  
  .bg-red {
    background-color: $primary;
  }
  
  .blog-bg-dark,
  .post-bg-dark {
    background-color: $secondary;
  }
  