<section class="bg-red">
    <nav class="navbar container">
      <h1><a href="./index.html">glasses</a></h1>
      <ul class="menu d-flex">
        <li><a href="./optical.html" class="fs-20">系列鏡框</a></li>
        <li><a href="./store.html" class="fs-20">門市據點</a></li>
        <li><a href="./blog.html" class="fs-20">部落格</a></li>
        <li><a href="./faq.html" class="fs-20">常見問題</a></li>
  
      </ul>
    </nav>
  </section>
