.sun-tabs {
    li {
      width: 33.3%;
      a {
        color: $black;
        width: 100%;
        border-left: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        font-family: "Roboto", sans-serif;
      }
      &:nth-child(2) a {
        position: relative;
        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          width: 100%;
          height: 8px;
          background-color: $primary;
        }
      }
    }
  }
  
  .sun-items {
    padding: 80px 12px;
    h2:nth-child(1) {
      font-family: "Roboto", sans-serif;
    }
    .sun-cards {
      @include flexbox(row, stretch, space-between);
      flex-wrap: wrap;
      li {
        width: 32%;
      }
      .info {
        font-family: "Roboto", sans-serif;
        @include flexbox(row, stretch, space-between);
        span {
          color: $primary;
        }
      }
      .btn {
        width: 24px;
        height: 24px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      .btn:first-child {
        background-color: #5f3e2d;
        margin-right: 8px;
      }
      .btn:last-child {
        background-color: #b75929;
      }
    }
  }

  
@media screen and (max-width: 992px) {
    .sun-tabs li a {
      font-size: 24px;
    }
    .sun-items {
      .sun-cards li {
        width: 49%;
        &:not(:nth-child(5), :nth-child(6)) {
          margin-bottom: 40px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .sun-tabs {
      padding: 0;
      li a {
        font-size: 16px;
      }
    }
    .sun-items {
      padding: 40px 12px 64px 12px;
      h2 {
        font-size: 24px !important;
      }
      .sun-cards li {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
  }