<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Optical</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <ul class="opt-tabs container d-flex">
        <li><a href="#" class="py-24 fw-bold fs-32 ta-c">OPTICAL</a></li>
        <li>
          <a href="./sunglasses.html" class="py-24 fw-bold fs-32 ta-c"
            >SUNGLASSES</a
          >
        </li>
        <li><a href="#" class="py-24 fw-bold fs-32 ta-c">FUNCTIONAL</a></li>
      </ul>
      <section class="opt-banner d-flex">
        <div class="img-container">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true
              "
            />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true"
              alt="glasses"
            />
          </picture>
        </div>
        <div class="img-container">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true
              "
            />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true"
              alt="glasses"
            />
          </picture>
        </div>
      </section>
      <section class="opt-items container">
        <h2 class="ta-c fs-42 fw-bold">Celluloid Combi</h2>
        <h2 class="ta-c fs-32 mb-32">賽璐珞鈦金屬混合鏡框</h2>
        <ul class="opt-cards">
          <li class="mb-80" data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
          <li class="mb-80"  data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
          <li class="mb-80"  data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
          <li class="mb-80"  data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
          <li class="mb-80"  data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
          <li class="mb-80"  data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
          <li class="mb-80"  data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
          <li class="mb-80"  data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
          <li  data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
          <li  data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
          <li  data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
          <li  data-aos="fade-up">
            <div class="img-container">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true"
                alt="glasses"
              />
            </div>
            <div class="info fs-24">
              <h4>BJ41600S</h4>
              <span class="fw-bold">NTD3,490</span>
            </div>
            <div class="color">
              <button type="button" class="btn"></button
              ><button type="button" class="btn"></button>
            </div>
          </li>
        </ul>
      </section>
    <%- include('./layout/pagnition'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 300,
      });
      </script>
  </body>
</html>
